# Project description
slprj
.fuse_hidden*
*.asv
*.slxc
*.autosave
*.casadi
*.o
*.mexa64
.tmp
videos
main_simulink/simulink_log/*.txt
s_functions/*/*/*.mat
s_functions/*/*/*.bin
s_functions/*/*/MPC*.c
s_functions/*/*/MPC*.h
s_functions/*/*MPC*.c
s_functions/*/*MPC*.h
s_functions/MPC*.c
s_functions/MPC*.h
jit*.c
tmp_casadi_compiler*.o
tmp_casadi_compiler*.so
utils_python/__pycache__/
main_franka/Controller/realtime_simu_franka_fr3_franka_emika_rtw/*
main_ros2/test_proj1/*
main_ros2/cpp_pubsub/log
main_ros2/cpp_pubsub/build
main_ros2/cpp_pubsub/install
main_ros2/franka_ros2_ws/log
main_ros2/franka_ros2_ws/build
main_ros2/franka_ros2_ws/install
main_ros2/nodejs_ros2_gui/node_modules
build
robot_plots.html
robot_visualization.html