# Project description
slprj
.fuse_hidden*
*.asv
*.slxc
*.autosave
*.casadi
*.o
*.mexa64
.tmp
videos
main_simulink/simulink_log/*.txt
s_functions/*/*/*.mat
s_functions/*/*/*.bin
s_functions/*/*/MPC*.c
s_functions/*/*/MPC*.h
s_functions/*/*MPC*.c
s_functions/*/*MPC*.h
s_functions/MPC*.c
s_functions/MPC*.h
jit*.c
tmp_casadi_compiler*.o
tmp_casadi_compiler*.so
utils_python/__pycache__/
main_franka/Controller/realtime_simu_franka_fr3_franka_emika_rtw/*
main_ros2/test_proj1/*