# Project description
slprj
.fuse_hidden*
*.asv
*.slxc
*.autosave
*.casadi
*.o
*.mexa64
.tmp
videos
main_simulink/simulink_log/*.txt
s_functions/fr3_no_hand_6dof/mpc_c_sourcefiles/*
s_functions/fr3_no_hand_6dof/initial_guess/*
s_functions/*.mat
s_functions/*.bin
s_functions/MPC*.c
s_functions/MPC*.h
jit*.c
tmp_casadi_compiler*.o
tmp_casadi_compiler*.so
utils_python/__pycache__/